<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.ums.console.modules.sdkreport.mapper.CallbackDailyMapper">
  <resultMap id="BaseResultMap" type="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="daytime" jdbcType="CHAR" property="daytime" />
    <result column="gameid" jdbcType="INTEGER" property="gameid" />
    <result column="chid" jdbcType="VARCHAR" property="chid" />
    <result column="cpid" jdbcType="VARCHAR" property="cpid" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="uv" jdbcType="INTEGER" property="uv" />
    <result column="ccnt" jdbcType="INTEGER" property="ccnt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, daytime, gameid, chid, cpid, pv, uv, ccnt
  </sql>
  <sql id="Where_Clause">
     where 1=1 
    <if test="record.id != null">
      and acd.id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test="record.daytime != null and record.daytime != ''">
      and acd.daytime = #{record.daytime,jdbcType=CHAR}
    </if>
    <if test="record.gameid != null">
      and acd.gameid = #{record.gameid,jdbcType=INTEGER}
    </if>
    <if test="record.chid != null and record.chid != ''">
      and acd.chid = #{record.chid,jdbcType=VARCHAR}
    </if>
    <if test="record.cpid != null and record.cpid != ''">
      and acd.cpid = #{record.cpid,jdbcType=VARCHAR}
    </if>
    <if test="record.pv != null">
      and acd.pv = #{record.pv,jdbcType=INTEGER}
    </if>
    <if test="record.uv != null">
      and acd.uv = #{record.uv,jdbcType=INTEGER}
    </if>
    <if test="record.ccnt != null">
      and acd.ccnt = #{record.ccnt,jdbcType=INTEGER}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ads_callback_daily
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ads_callback_daily
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily">
    insert into ads_callback_daily (id, daytime, gameid, 
      chid, cpid, pv, uv, 
      ccnt)
    values (#{id,jdbcType=INTEGER}, #{daytime,jdbcType=CHAR}, #{gameid,jdbcType=INTEGER}, 
      #{chid,jdbcType=VARCHAR}, #{cpid,jdbcType=VARCHAR}, #{pv,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, 
      #{ccnt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily">
    insert into ads_callback_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="daytime != null">
        daytime,
      </if>
      <if test="gameid != null">
        gameid,
      </if>
      <if test="chid != null">
        chid,
      </if>
      <if test="cpid != null">
        cpid,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="ccnt != null">
        ccnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="daytime != null">
        #{daytime,jdbcType=CHAR},
      </if>
      <if test="gameid != null">
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="chid != null">
        #{chid,jdbcType=VARCHAR},
      </if>
      <if test="cpid != null">
        #{cpid,jdbcType=VARCHAR},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="ccnt != null">
        #{ccnt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily">
    update ads_callback_daily
    <set>
      <if test="daytime != null">
        daytime = #{daytime,jdbcType=CHAR},
      </if>
      <if test="gameid != null">
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="chid != null">
        chid = #{chid,jdbcType=VARCHAR},
      </if>
      <if test="cpid != null">
        cpid = #{cpid,jdbcType=VARCHAR},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="ccnt != null">
        ccnt = #{ccnt,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily">
    update ads_callback_daily
    set daytime = #{daytime,jdbcType=CHAR},
      gameid = #{gameid,jdbcType=INTEGER},
      chid = #{chid,jdbcType=VARCHAR},
      cpid = #{cpid,jdbcType=VARCHAR},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      ccnt = #{ccnt,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectTotal" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily" resultType="java.lang.Integer">
    select count(*) from ads_callback_daily acd
    <include refid="Where_Clause" />
  </select>
  <select id="selectList" parameterType="com.qw.ums.console.modules.sdkreport.entity.CallbackDaily" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from ads_callback_daily acd
    <include refid="Where_Clause" />
    <if test="order != null and order.colName != null and order.colName != ''">
      order by ${order.column}
      <if test="order.desc">
        desc
      </if>
    </if>
    <if test="offset > 0">
      limit #{offset}, #{count}
    </if>
  </select>
</mapper>