<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiyou.marketing.persistence.BulletinAuditMapper">
  <resultMap id="BaseResultMap" type="com.yiyou.marketing.model.BulletinAudit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bulletin_id" jdbcType="INTEGER" property="bulletinId" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bulletin_id, auditor, status, remark, create_time, update_time, deleted
  </sql>
  <sql id="Where_Clause">
     where 1=1 
    <if test="record.id != null">
      and mba.id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test="record.bulletinId != null">
      and mba.bulletin_id = #{record.bulletinId,jdbcType=INTEGER}
    </if>
    <if test="record.auditor != null and record.auditor != ''">
      and mba.auditor = #{record.auditor,jdbcType=VARCHAR}
    </if>
    <if test="record.status != null">
      and mba.status = #{record.status,jdbcType=INTEGER}
    </if>
    <if test="record.remark != null and record.remark != ''">
      and mba.remark = #{record.remark,jdbcType=VARCHAR}
    </if>
    <if test="record.createTime != null">
      and mba.create_time = #{record.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.updateTime != null">
      and mba.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.deleted != null">
      and mba.deleted = #{record.deleted,jdbcType=BIT}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mt_bulletin_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mt_bulletin_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiyou.marketing.model.BulletinAudit">
    insert into mt_bulletin_audit (id, bulletin_id, auditor, 
      status, remark, create_time, 
      update_time, deleted)
    values (#{id,jdbcType=INTEGER}, #{bulletinId,jdbcType=INTEGER}, #{auditor,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.yiyou.marketing.model.BulletinAudit">
    insert into mt_bulletin_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bulletinId != null">
        bulletin_id,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bulletinId != null">
        #{bulletinId,jdbcType=INTEGER},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiyou.marketing.model.BulletinAudit">
    update mt_bulletin_audit
    <set>
      <if test="bulletinId != null">
        bulletin_id = #{bulletinId,jdbcType=INTEGER},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiyou.marketing.model.BulletinAudit">
    update mt_bulletin_audit
    set bulletin_id = #{bulletinId,jdbcType=INTEGER},
      auditor = #{auditor,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectTotal" parameterType="com.yiyou.marketing.model.BulletinAudit" resultType="java.lang.Integer">
    select count(*) from mt_bulletin_audit mba
    <include refid="Where_Clause" />
  </select>
  <select id="selectList" parameterType="com.yiyou.marketing.model.BulletinAudit" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from mt_bulletin_audit mba
    <include refid="Where_Clause" />
    <if test="order != null and order.colName != null and order.colName != ''">
      order by ${order.column}
      <if test="order.desc">
        desc
      </if>
    </if>
    <if test="offset > 0">
      limit #{offset}, #{count}
    </if>
  </select>
</mapper>